.App {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.App.m-bad-weather {
  background-image: url(./assets/bad-weather.jpg);
}

.App.m-good-weather {
  background-image: url(./assets/good-weather.jpg);
}

.App__container {
  max-width: 600px;
  margin: auto;
  backdrop-filter: blur(8px);
  padding: 16px;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
  ;
}

.App__weatherTitle {
  text-align: center;
  font-size: 64px;
}
