:root {
  --soft-pink: rgba(248, 205, 245, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
}

button {
  border: none;
  background-color: rgba(248, 205, 245, 0.6);
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
}

body {
  font-family: "Helvetica";
  color: white;
  font-weight: 600;
}
